.container.tasksDetail
  .tasksDetail__wrapper(v-bar)
    .tasksDetail__scroll
      .tasksDetail__content
        .tasksDetail__title {{ task.title }}
        .tasksDetail__text
          span Статус задачи:
          |  {{ statusParse }}
        .tasksDetail__text
          span Описание:
          |  {{ task.desc }}
        .tasksDetail__text
          span Дата создания:
          |  {{ parseDate(task.date) }}
        .tasksDetail__text(v-if="task.files && task.files.length > 0")
          span Прикрепленные файлы:
          a.tasksDetail__link(href="#", ref="link") 12321
          .tasksDetail__files
           .tasksDetail__file(v-for="(item, index) in task.files", @click="downloadFile(item)") {{ `${index + 1}) ${item.split('/')[1]}` }}
        .tasksDetail__text
          span Выделенное время:
          |  {{ task.assessment !== 0 ? `${this.task.assessment} ч` : 'нет' }}
        .tasksDetail__text
          span Время:
          p(v-if="times.length === 0")  Нет
          .tasksDetail__list(v-else)
            .tasksDetail__time(v-for="(item, index) in times", :key="item.id", v-dragscroll)
              .tasksDetail__timeItem
                span {{ index + 1 + ')'}}
              .tasksDetail__timeItem
                span Дата:
                |  {{ parseDate(item.date) }}
              .tasksDetail__timeItem
                span Создатель:
                |  {{ $store.state.ModuleAuth.users[item.userID].info.name }}
              .tasksDetail__timeItem
                span Кол-во:
                |  {{ item.time }}
              .tasksDetail__timeItem
                span Описание:
                |  {{ item.text || 'Нет' }}
              .tasksDetail__delete(@click="deleteTime(item.id, index)", v-if="item.userID === $store.state.ModuleAuth.userID")
          .tasksDetail__form
            BaseInput.tasksDetail__field(
              type="number"
              placeholder="Количество"
              name="time"
              v-model="time"
            )
            BaseInput.tasksDetail__field.tasksDetail__field--text(
              type="text"
              placeholder="Описание"
              name="timeText"
              v-model="timeText"
            )
          BaseButton.tasksDetail__button(
            type="submit",
            @click.native="addTime"
            :disabled="!time"
          ) Добавить время
        .tasksDetail__text
          span Комментарии:
          p(v-if="comments.length === 0")  Нет
          .tasksDetail__list(v-else)
            .tasksDetail__comment(v-for="(item, index) in comments", v-dragscroll)
              .tasksDetail__commentTitle {{ $store.state.ModuleAuth.users[item.userID].info.name }}
                span {{ parseDate(item.date) }}
              | {{ item.comment }}
              .tasksDetail__fileText(v-if="item.files && item.files.length > 0")
                p {{ getWord(item.files.length) }}
                span(v-for="(file, index) in item.files", @click="downloadFile(file)")
                  | {{ ` ${index + 1}) ${file.split('/')[1]}` }}
              .tasksDetail__delete.tasksDetail__delete--comment(@click="deleteComment(item.id, index)", v-if="item.userID === $store.state.ModuleAuth.userID")
          .tasksDetail__form
            .tasksDetail__fieldFile
              InputFile.tasksDetail__fileInput(name="file", v-model="files")
            BaseInput.tasksDetail__field.tasksDetail__field--comment(
              type="text"
              placeholder="Комментарий"
              name="commentText"
              v-model="comment"
            )
            BaseButton.tasksDetail__button(
              type="submit",
              @click.native="addComment"
              :disabled="!comment && files.length === 0"
            ) Добавить комментарий
